---
layout: page
title: Blog
permalink: /gallery/
---

<style>
    h1 {text-align: center; white-space: pre; font-family:monospace}
    p {text-align: center;}
    div {text-align: center;}
</style>
<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">Pictures from Previous Burns</h1>
                    <p class="animated fadeInUp">Get a sneak-peek of who we are by browsing pictures from our camp in previous burns.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<h1>
    \o/            > Burning Man 2019 <         \o/
    / \  > CDLR 2nd round as an official camp < / \
</h1>
<hr/>
{% include image-gallery.html folder="/img/gallery/2019" %}

<h1>
    \o/     > Burning Man 2018 <     \o/
    / \  > CDLR becomes official!  < / \
</h1>
<hr/>
{% include image-gallery.html folder="/img/gallery/2018" %}

<h1>
    \o/ Burning Man 2017 \o/
    / \ The Origins 2.0  / \
</h1>
<hr/>
{% include image-gallery.html folder="/img/gallery/2017" %}

<h1>
    \o/ Burning Man 2016 \o/
    / \ > The Origins <  / \
</h1>
<hr/>
{% include image-gallery.html folder="/img/gallery/2016" %}