---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Casa de la Rumba</h1>
          <p class="animated fadeInUp">Burning Man is an annual experiment in temporary community dedicated to radical self-expression and radical self-reliance</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Welcome to Casa de la Rumba! You could not believe how excited we are as we write these words.</p>
          </div>
          <p>This will be the fourth year that us founders of the camp are going. What started as a couple tents and not much else back in 2016, became almost a full-fledged camp in 2018 with over 40 people. Through all this time, we have kept loyal to our roots: a group of humans from all walks of life who share an appreciation for Mediterranean cultures – Spain and Southern France in particular. We celebrate the way these cultures see life as a vehicle to share with others. We share food, we share music and dance, we share experiences.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <!––  <h2>How do we contribute?</h2>
      <p>This year, by going full-on theme camp, we're taking it to the next level. We drawed inspiration from the quaint casinos of the Provence and apart from the Casa, we're creating a Casino de la Rumba with a twist. We're going to have a beautiful, round tent for the common area with big RUMBA letters, Andalusian tapestries and lamplights to signal the entrance. Once inside, we'll have a concierge that will give you chips to play.</p>
      <p>Combined with the little casino game, we will serve drinks at our bar. These are not regular drinks – one of our campmates is an internationally renowned barman, and he's nuts. He makes cocktails with electricity, dry ice, weird liquors and strange aphrodisiac fruits that are an experience on its own.There's no need to be part of the game, you can just hang out at the bar or take part on one of the other side activities we're planning to do. Things like body painting, lock-picking classes (one of our founders is a master thief), or just chilling and relaxing at the lounge area.</p>
      <p>When the sun sets, we're going to host flamenco-themed dinner parties. Think about having tapas and dancing flamenco at the Feria of Seville, if Seville was a little like Black Rock City. You'll be transported to a place you might have never been, and you're going to have a ton of fun. </p> -->
      <!––  <a href="#" class="btn btn-view-works">View Works</a> -->
    </div>
  </div>
</div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>How do we contribute?</h2>
            <p>Following the gifting principle, one of the 10 principles that Larry Harvey wrote in 2004, we try to contribute to the Burning Man philosophy</p>
          </div>
          <p>This year, by going full-on theme camp, we're taking it to the next level. We drawed inspiration from the quaint casinos of the Provence and apart from the Casa, we're creating a Casino de la Rumba with a twist. We're going to have a beautiful, round tent for the common area with big RUMBA letters, Andalusian tapestries and lamplights to signal the entrance. Once inside, we'll have a concierge that will give you chips to play.</p>
          <p>Combined with the little casino game, we will serve drinks at our bar. These are not regular drinks – one of our campmates is an internationally renowned barman, and he's nuts. He makes cocktails with electricity, dry ice, weird liquors and strange aphrodisiac fruits that are an experience on its own.There's no need to be part of the game, you can just hang out at the bar or take part on one of the other side activities we're planning to do. Things like body painting, lock-picking classes (one of our founders is a master thief), or just chilling and relaxing at the lounge area.</p>
          <p>When the sun sets, we're going to host flamenco-themed dinner parties. Think about having tapas and dancing flamenco at the Feria of Seville, if Seville was a little like Black Rock City. You'll be transported to a place you might have never been, and you're going to have a ton of fun. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>



<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
